.color-nav {
    background-color: #3b3b3b;
}

.titlePageProject {
    color: #FF540F;
    font-family: 'Montserrat', sans-serif;
    font-size: calc((36 / 1366) * 100vw);
    font-weight: 800;
    line-height: 1em;
    text-align: center;
    margin-top: 20vh;
}

.generalProjectInfo {
    margin-top: 3vh;
}

.projectTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: calc((27 / 1400) * 100vw);
    font-weight: 700;
    color: #3b3b3b;
    line-height: 1em;
    /* text-align: center; */
    margin: 3.5vh;
}

.approvalDateInfo {
    display: block;
    margin: 0;
    padding: 0.7em;
    border: none;
    border-radius: 1vw;
    height: 3vw;
    width: 100%;
    color: #FF540F;
    background-color: #FAFAFA;
    box-shadow: 0 calc((4 / 1366) * 100vw) calc((4 / 1366) * 100vw) rgba(0, 0, 0, 0.15);
    border-radius: calc((5 / 1366) * 100vw);
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1200) * 100vw);
    font-weight: 550;
}

.durationTimeTitle {
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1200) * 100vw);
    font-weight: 550;
    line-height: 1.35em;
    margin: 0;
    color: #3b3b3b;
    background-color: #fff;
}

.approvalDateTitle {
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1200) * 100vw);
    font-weight: 550;
    line-height: 1.35em;
    margin: 0;
    color: #3b3b3b;
    background-color: #fff;
}

.approvalDateInfo {
    display: block;
    margin: 0;
    padding: 0.7em;
    border: none;
    border-radius: 1vw;
    height: 3vw;
    width: 100%;
    color: #FF540F;
    background-color: #FAFAFA;
    box-shadow: 0 calc((4 / 1366) * 100vw) calc((4 / 1366) * 100vw) rgba(0, 0, 0, 0.15);
    border-radius: calc((5 / 1366) * 100vw);
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1200) * 100vw);
    font-weight: 550;
}

.durationTimeInfo {
    display: block;
    margin: 0;
    padding: 0.7em;
    border: none;
    border-radius: 1vw;
    height: 3vw;
    width: 100%;
    color: #FF540F;
    background-color: #FAFAFA;
    box-shadow: 0 calc((4 / 1366) * 100vw) calc((4 / 1366) * 100vw) rgba(0, 0, 0, 0.15);
    border-radius: calc((5 / 1366) * 100vw);
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1200) * 100vw);
    font-weight: 550;
}

.tableProjectDetails {
    margin-top: 3vh;
    padding: 2vh 1vh 0.1vh 1vh;
    width: 100%;
    border: none;
    border-radius: 1vw;
    box-shadow: 0 calc((4 / 1366) * 100vw) calc((4 / 1366) * 100vw) rgba(0, 0, 0, 0.15);
    border-radius: calc((5 / 1366) * 100vw);
}

.projectProgressInfo {
    padding: 0.75em;
    color: #FF540F;
    font-family: 'Lato', sans-serif;
    font-size: calc((13 / 1100) * 100vw);
    font-weight: 100;
    vertical-align: middle;
}

.projectProgressData {
    padding: 0.75em;
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;
    font-size: calc((12.5 / 1100) * 100vw);
    font-weight: 100;
    vertical-align: middle;
    border: 1px dotted #b3b3b3
}

.footerBackground {
    background-color: #1F3666;
    margin-top: 10vh;
    padding-top: calc((60 / 1920) * 100vw);
    padding-bottom: calc((60 / 1920) * 100vw);
    text-align: start;
}

#pageBasicFooter {
    background-color: #1F3666;
    justify-content: flex-start;
}

.logo {
    height: calc((150 / 1920) * 100vw);
}

.pageFooterInfo {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: calc((23 / 1366) * 100vw);
    font-weight: 600;
    line-height: 1em;
    margin-bottom: calc((38 / 1920) * 100vw);
}

.footerInfo {
    font-family: 'Lato', sans-serif;
    font-size: calc((14 / 1366) * 100vw);
    font-weight: 400;
    line-height: 1.35em;
    padding: calc((170 / 1366) * 100vw) 0 0 0;
    margin: 0;
    color: #fff;
    text-align: justify;
}

.footerIcon {
    margin-right: 0.25em;
    font-size: 1.5em;
    color: #fff;
    line-height: 0.5;
}

.bold,
.bold:hover {
    text-decoration: none;
    font-weight: 900;
    color: inherit;
}

@media (orientation: landscape) and (max-width: 768px) {
    .projectProgressInfo {
        padding: 0.75em;
        color: #FF540F;
        font-family: 'Lato', sans-serif;
        font-size: calc((15 / 1100) * 100vw);
        font-weight: 300;
        vertical-align: middle;
    }

    .projectProgressData {
        padding: 0.75em;
        color: #3b3b3b;
        font-family: 'Lato', sans-serif;
        font-size: calc((17 / 1100) * 1000vw);
        font-weight: 300;
        vertical-align: middle;
        border: 1px dotted #b3b3b3
    }

    .titlePageProject {
        color: #FF540F;
        font-family: 'Montserrat', sans-serif;
        font-size: calc((12 / 1100) * 100vw);
        font-weight: 800;
        line-height: 1em;
        text-align: center;
    }

    .footerBackground {
        background-color: #1F3666;
        margin-top: 10vh;
        padding-top: calc((60 / 1920) * 100vw);
        padding-bottom: calc((60 / 1920) * 100vw);
        text-align: start;
    }
}